@using Web_MVC.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Реєстрація";
}

<link href="~/Content/css/templatemo-style.css" rel="stylesheet">

<body class="light-gray-bg">
<div class="templatemo-login-widget">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "templatemo-login-form", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email@agrarvard.com" })
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "******" })
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "******" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="width-100" value="Реєстрація" />
        </div>
    }
</div>
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
